In [49]:
df = pd.read_csv('/Users/tianyichen/Desktop/Research /PhDresearch/Hopkins_Organoid/April 19 2024/Time-file.csv')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6
0,230601 RUN 8 Wells 1-3/#1 (baseline),2023-06-01,15:24:31,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2023-06-01,NaN,True,NaN,NaN,NaN,NaN,NaN
2,230601 RUN 8 Wells 1-3/#2 (well #1 post stim 1),2023-06-01,15:37:43,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2023-06-01,NaN,True,NaN,NaN,NaN,NaN,NaN
4,230601 RUN 8 Wells 1-3/#3 (well #1 post stim 2),2023-06-01,15:50:57,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
import pandas as pd
df['time'] = pd.to_datetime(df['Unnamed: 1'].astype(str) + ' ' + df['Unnamed: 2'].astype(str), errors='coerce')

In [51]:
for i in df.loc[df['Unnamed: 2'].isnull(),'time'].index:
    df.loc[i,'time'] = df.loc[i-1,'time']+pd.Timedelta(10,'min')

In [52]:
well=4
stimulus_time=df[df[str(well)]==True]['time']

In [57]:
time=df[df['Unnamed: 2'].notna()]['time']

In [58]:
time_diff = [(t - time[0]).total_seconds() / 60 for t in time]
stimulus_time_diff = [(t - time[0]).total_seconds() / 60 for t in stimulus_time]
#time_diff